*{margin: 0;
padding: 0;}
body{
    font-size: 20px;
    overflow-x: hidden;
    color: white;
    font-family: 'Flamenco', cursive;
}
.clearfix::after{
    content: ".";
    visibility: hidden;
    display: block;
    height: 0px;
    clear: both;
}
header{
    background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url('b1.jpg');
    height: 100vh;
    background-size: cover;
    /* background-attachment: fixed; */
    background-position: center;
}
.row{
    max-width: 1180px;
    margin: 0,auto;
}
.main-nav{
    float: right;
    margin-top: 60px;
}
.main-nav li{
    display: inline-block;
    list-style: none;
    margin-left: 40px;
}
.main-nav li a{
    /* padding: 5px 0; */
    color: rgb(247, 247, 247);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    font-weight: 500;
    border: 1px solid yellow;
    border-radius: 50px;
    padding: 10px 30px;
}
.main-nav li a:hover{
    background-color: springgreen;
    color: red;
}

.main-content-header
{
    width: 1180px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1{
    color: #fff;
    font-size: 240%;
    word-spacing: 5px;
    letter-spacing: 3px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: lighter;
}
.btn
{
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 200px;
    font-weight: lighter;
    transition: background-color 0.2s, border 0.2s,color 0.2;
}
.btn-full
{
    background-color: transparent;
    color: #bf55ec;
    margin-right: 15px;
    border: 1px solid #bf55ec;
}

.btn-full:hover{
    background-color: white;
}



.btn-nav
{
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
}
.btn-nav:hover{
    background-color: #bf55ec;
}

.cl{
    animation: claman 2s infinite;
}
@keyframes claman{
    0%{color:red}
    25%{color:yellow}
    50%{color: violet;}
    100%{color: white;}
}
.mobile-icon
{
    display: none;
}
@media only screen and (max-width:1180px){
    .main-content-header{
        width: 100%;
        padding: 0 2%;
    }
}

@media only screen and (max-width:998px){
    h1{font-size: 200%;}
}
@media only screen and (max-width:768px){
    h1{font-size: 180%;}
    .main-nav{display: none;}

    .mobile-icon{
        display: inline-block;
        color: white;
       /* float: right; */
    }
}
